@font-face{
    font-family:'digital-clock-font';
    src: url('/fonts/digital-7.regular.ttf');
   }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.header {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 550px;
    width: 380px;
    background-color: rgb(193 193 193);
    padding: 16px;
}

.screen-container {
    font-weight: 900;
    padding: 6px;
    color: #1C121A;
    border: 2px solid #1C121A;
    border-radius: 10px;
    background: #000000;
}

.screen-container .screen-header {
    background-color: rgb(102, 102, 102);
    padding: 12px;
    text-align: right;
}

.screen-header p {
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
}

.screen-output {
    border: 2px solid #1C121A;
    border-radius: 8px;
    background: #A4B4CD;
    height: 80px;
    padding-right: 4px;
}

.first-number-output {
    color: rgb(48, 48, 48);
    font-size: 2rem;
}

.button {
    display: flex;
    justify-content: space-between;
    height: 350px;
    gap: 6px;
    margin: 30px 0px 0px
}

.button-column {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-column button {
    flex: 1;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 30px;
    color: #3b2d25;
    box-shadow: 0 3px #382c1f;
    border: 2px solid #1C121A;
    cursor: pointer;
}

.button-column button:active {
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.brown {
    background: orange;
    box-shadow: 0 3px #2b211b;
}
button.clear-btn {
    background: red;
    box-shadow: 0 3px #2b211b;
    color:white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;   
    height: 40px;
    color: white;
    width: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
}
